In [1]:
import pandas as pd

In [71]:
data = pd.read_csv('./data.txt',header=None,sep="\t")

In [72]:
np_data = data.values

In [33]:
features = data[:,:19]

In [34]:
features.shape

(12828, 19)

In [35]:
target_label = data[:,19:]

In [36]:
target_label

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]])

In [37]:
features

array([[  0.  ,  10.  ,   3.  , ...,   0.26, 103.  ,  34.  ],
       [  0.  ,   5.  ,   3.  , ...,   0.34, 101.  ,  30.  ],
       [  0.  ,  12.  ,   2.  , ...,   0.29, 119.  ,  40.  ],
       ...,
       [  1.  ,  10.  ,   3.  , ...,   0.3 , 107.  ,  40.  ],
       [  1.  ,  15.  ,   1.  , ...,   0.63,  65.  ,  24.  ],
       [  0.  ,   3.  ,   1.  , ...,   0.48,  91.  ,  32.  ]])

In [56]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [81]:
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features)
features_train,features_test,label_train,label_test = train_test_split(scaled_features,target_label,test_size = 0.2)
tree_clf = DecisionTreeClassifier()
tree_clf.fit(features_train,label_train)
label_predict = tree_clf.predict(features_test)

In [82]:
from sklearn.metrics import accuracy_score

In [83]:
accuracy_score(label_test,label_predict)

0.7844894777864381

In [64]:
from sklearn.neighbors import KNeighborsClassifier

In [65]:
knn_clf = KNeighborsClassifier()
knn_clf.fit(features_train,label_train)

/Users/wangweikai/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [66]:
label_predict = knn_clf.predict(features_test)
accuracy_score(label_test,label_predict)

0.872954014029618

In [84]:
from sklearn.ensemble import RandomForestClassifier

In [88]:
rnd_clf = RandomForestClassifier(max_depth= 8, max_features= 8, n_estimators = 131)
rnd_clf.fit(features_train,label_train)
label_predict = rnd_clf.predict(features_test)
print("test accuracy = ",accuracy_score(label_test,label_predict))
label_predict = rnd_clf.predict(features_train)
print("train accuracy = ",accuracy_score(label_train,label_predict))

/Users/wangweikai/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

test accuracy =  0.8745128604832424
train accuracy =  0.8945624634574157

In [73]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
count,12828.000000,12828.000000,12828.000000,12828.000000,12828.000000,12828.000000,12828.000000,12828.000000,12828.000000,12828.000000,12828.000000,12828.000000,12828.000000,12828.000000,12828.000000,12828.000000,12828.000000,12828.000000,12828.000000,12828.000000
mean,0.344481,8.493686,1.979966,1.307382,1.772326,1.629482,1.439077,1.473269,1.414230,1.297137,1.451466,1.421133,1.430262,1.466860,2.183300,0.353446,0.423294,88.189975,32.598457,0.151777
std,0.475217,4.804630,0.819571,0.348332,0.513940,0.512594,0.434769,0.421584,0.436443,0.371511,0.437103,0.398324,0.413069,0.369269,0.400197,1.195007,0.091053,13.489570,4.596349,0.450867
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.250000,19.000000,10.000000,0.000000
25%,0.000000,5.000000,1.000000,1.080000,1.400000,1.220000,1.080000,1.200000,1.170000,1.000000,1.170000,1.100000,1.140000,1.190000,2.010000,0.000000,0.350000,79.000000,29.000000,0.000000
50%,0.000000,8.000000,2.000000,1.170000,1.700000,1.560000,1.310000,1.400000,1.330000,1.140000,1.330000,1.300000,1.290000,1.390000,2.130000,0.000000,0.410000,89.000000,32.000000,0.000000
75%,1.000000,12.000000,3.000000,1.500000,2.000000,1.890000,1.620000,1.700000,1.670000,1.430000,1.670000,1.600000,1.570000,1.660000,2.300000,0.000000,0.480000,98.000000,36.000000,0.000000
max,1.000000,19.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,10.000000,0.890000,120.000000,40.000000,3.000000

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12828 entries, 0 to 12827
Data columns (total 20 columns):
0     12828 non-null int64
1     12828 non-null int64
2     12828 non-null int64
3     12828 non-null float64
4     12828 non-null float64
5     12828 non-null float64
6     12828 non-null float64
7     12828 non-null float64
8     12828 non-null float64
9     12828 non-null float64
10    12828 non-null float64
11    12828 non-null float64
12    12828 non-null float64
13    12828 non-null float64
14    12828 non-null float64
15    12828 non-null int64
16    12828 non-null float64
17    12828 non-null int64
18    12828 non-null int64
19    12828 non-null int64
dtypes: float64(13), int64(7)
memory usage: 2.0 MB

In [91]:
def f():
    global a
    a = 100
    
def ff():
    a = 10
    f()
    print(a)

    
ff()

10

In [92]:
def f(flag = 'a'):
    print(flag)
    
f(100)

100

## SVM